<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Sirio Settings</title>
        <title lang="it-IT">Impostazioni Sirio</title>
        <title lang="de-DE">Sirio Einstellungen</title>
        <title lang="en-GB">Sirio Settings</title>
        <title lang="nl-NL">Sirio instellingen</title>
        <input-field type="bool">
            <name>enable</name>
            <label>Enable Sirio</label>
            <label lang="it-IT">Abilita Sirio</label>
            <label lang="en-GB">Enable Sirio</label>
            <label lang="de-DE">Sirio Aktivieren</label>
            <label lang="nl-NL">Sirio Inschakelen</label>
        </input-field>
        <input-field type="bool">
            <name>debugEnable</name>
            <label>Enable Debug</label>
            <label lang="it-IT">Abilita Debug</label>
            <label lang="en-GB">Enable Debug</label>
            <label lang="de-DE">Aktivieren Debug</label>
            <label lang="nl-NL">Inschakelen Debug</label>
        </input-field>
        <input-field type="bool">
            <name>enableDevMode</name>
            <label>Enable DEV Mode</label>
            <label lang="it-IT">Abilita modalità sviluppo</label>
            <label lang="en-GB">Enable DEV Mode</label>
            <label lang="de-DE">Aktivieren DEV-Modus</label>
            <label lang="nl-NL">DEV-modus Inschakelen</label>
        </input-field>
    </card>
</config>